.page-positioning {
	display: flex;
  align-items: center;
  justify-content: center;
	height: 100vh;
}

.form-container {
	min-width: 320px;
	background-color: #fff;
	border-radius: 5px;

	@media (min-width: 768px) {
		display: flex;
		justify-content: space-evenly;
    min-width: 750px;
  }
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-title {
	margin: 70px 0 30px;
	color: #333333;
	font-size: 22px;
}

.formStatusBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.error {
  color: red;
  font-size: 15px;
}

.success {
	color: green;
	font-size: 15px;
}

.login-options {
	color: #9b9b9b;
	font-size: 12px;
	text-align: center;
}

.user-info {
	margin-bottom: 100px;
}

.create-account {
	margin-bottom: 30px;
}

.form-link {
	color: #9b9b9b;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;

	&:hover {
		color: #333333;
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}